p {
    display: inline;
    font-size: 20px;
    color: #fff;
    width: 600px;
    margin-top: 60px;
}

p:nth-child(odd) {
    background-color: skyblue;
}

p:nth-child(even) {
    background-color: yellowgreen;
}

p:nth-child(1n+3) {
    display: block;
}

a {
    width: 100px;
    height: 100px;
    background-color: deeppink;
    color: darkgray;
    font-size: 1.2em;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 100px;
}

img {
    float: right;
}
p:nth-child(2) {
    clear: both;
}
#kotek {
 height: 100px;
 widows: 100px;
 float: none;
 margin-bottom: 300px;
 display: inline-block;}

#kotek:hover {
 height: 100px;
 widows: 100px;
}
    
    
    
    
    
    
    
    
    
    
    
    
}